:root {
    --color-primary: rgb(31, 31, 31) !important;
    --color-secondary: red !important;
    --color-tertiary: red !important;

    --black: black !important;
    --white: white !important;
    --grey: rgb(80, 80, 80) !important;
}