:root {
    --color-primary:rgb(204, 134, 4) !important;
    --color-secondary: rgb(255, 153, 0) !important;
    --color-tertiary: gray  !important;

    --black: black !important;
    --white: white !important;
    --grey: rgb(80, 80, 80) !important;
}