:root {
    --font-family-primary: 'Jetbrains Mono' !important;
    --font-family-secondary: 'Jetbrains Mono' !important;
    --font-family-tertiary: 'Jetbrains Mono' !important;
    --font-family-quaternary: 'Jetbrains Mono' !important;
    --main-font-size: 50 !important;
}