:root {
    --font-family-primary: 'Jetbrains Mono' !important;
    --font-family-secondary: 'Jetbrains Mono' !important;
    --font-family-tertiary: 'Jetbrains Mono' !important;
    --font-family-quaternary: 'Jetbrains Mono' !important;
    
    --font-size-xl: 75px !important;
    --font-size-l: 50px !important;
    --font-size-m: 25px !important;
    --font-size-s: 15px !important;
    --font-size-xs: 10px !important;
}