@use './sass/main';

::selection {
  background: var(--color-primary);
  color: var(--white);
}

/* Others */
html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  margin: 0;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-family-primary);
  color: var(--color-secondary);
}

p {
  font-family: var(--font-family-primary);
  color: var(--color-tertiary);
}

.hidden {
  display: none !important;
}

