.main {
  background-color: whitesmoke;
}

.img-container {
  /* background-image: url('./../assets/images/223-2237011_older-man-older-person-png-transparent-png.png'); */
  z-index: -9;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 35%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
	-moz-animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
	animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}