@use './sass/main';

::selection {
  background: var(--black);
  color: var(--white);
}

body {
  background-color: var(--color-primary);
}

/* Text */
h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-family-primary);
  color: gray;
}

p {
  font-family: var(--font-family-primary);
  color: grey;
}

/* Others */
html {
  scroll-behavior: smooth;
}

body  {
  margin: 0;

  .wrapper {
    width: 100%;
    height: 100vh;
  
    /* #1 scroll from one section to another */
    overflow-y: scroll;
    scroll-snap-type: y mandatory; 

    section {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    
      /* #2 scroll from one section to another */
      scroll-snap-align: start; 

      &.one {
        background: url('~/assets/images/man-smile.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.two {
        background: url('~/assets/images/two.jpg');
      }

      /* &.three {
        background: url('/assets/images/two.jpg');
      } */

      &.four {
        background: url('~/assets/images/two.jpg');
      }

      &.five {
        .content {
          display: flex;
        }
      }

      .content {
        max-width: 800px;
      }
    }
  }
}
