@use './sass/main';

::selection {
  background: var(--black);
  color: var(--white);
}

body {
  scroll-behavior: smooth;
  background-color: var(--color-primary);
}

/* Text */
h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-family-primary);
  color: gray;
}

p {
  font-family: var(--font-family-primary);
  color: grey;
}

.hidden {
  display: none;
}

/* Others */
html {
  scroll-behavior: smooth;
}

body  {
  margin: 0;
}
